<footer class="footer">
  Made by
  <a
    href="https://twitter.com/AdanSinAcento"
    target="_blank"
    class="text-blue-400"
    >AdanSinAcento</a
  >, source code available on
  <a
    href="https://github.com/adansinacento/sudoku-calculator/"
    target="_blank"
    class="text-blue-400"
  >
    github</a
  >.
  <span class="version">
    <a
      href="https://github.com/adansinacento/sudoku-calculator/blob/main/CHANGELOG.md"
      target="_blank"
      class="text-gray-400 underline"
      >v{{ version }}</a
    >
  </span>
</footer>
